<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main  w-full  min-h-screen bg-zinc-800 ">
        <div class="p-8">
            <a  class="text-blue-700   " href="/">Go back to home</a>
            <h1 class="text-white font-2xl py-10"><%= filename %></h1>
            <p class="text-white "><%= filedata %></p>
        </div>
        
     
    </div>
</body>
</html>    